.header {
  height: 50px;
  background-color: #006d77;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  a {
    text-decoration: none;
    &:visited {
      color: white;
    }
  }
}