<div class="card">
  <div class="table">
    <div class="table-caption">
      <h2>PRODUCTOS</h2>
    </div>
    <div class="input-filter">
      <input 
        type="text" 
        placeholder="Buscar Producto..." 
        #txtFilter
      >
      <div>
        <button class="btn" title="Agregar Nuevo Producto">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
    <div class="table-header">
      <div class="row">
        <div class="col p-left-10px w-min-50px">#</div>
        <div class="col flex-4">DESCRIPCIÓN</div>
        <div class="col text-align-right p-right-10px">CANTIDAD</div>
      </div>
    </div>
    <div class="table-body">
      <div class="row item" *ngFor="let product of productsFiltered; let i=index">
        <div class="col p-left-10px w-min-50px">{{ i + 1}}</div>
        <div class="col flex-4">{{ product.name }}</div>
        <div class="col text-align-right p-right-10px">{{ product.quantity }}</div>
      </div>
      <div *ngIf="productsFiltered.length === 0"><p>Producto no encontrado...</p></div>
    </div>
  </div>  
</div>