<div class="container">
  <div class="table">
    <div class="table-caption">
      <h2>PRODUCTOS</h2>
    </div>
    <div class="input-filter">
      <input 
        type="text" 
        placeholder="Buscar Producto..." 
        #txtFilter
      >
      <div>
        <button class="btn" title="Agregar Nuevo Producto" (click)="onShowModalProduct()">
          <i class="bi bi-plus-circle"></i>
        </button>
      </div>
    </div>
    <div class="table-header">
      <div class="row">
        <div class="col p-left-10px w-min-50px">#</div>
        <div class="col flex-4">DESCRIPCIÓN</div>
        <div class="col text-align-right p-right-10px">CANTIDAD</div>
      </div>
    </div>
    <div class="table-body">
      <div class="row item" *ngFor="let product of productsFiltered; let i=index">
        <div class="col p-left-10px w-min-50px">{{ i + 1}}</div>
        <div class="col flex-4">{{ product.name }}</div>
        <div class="col text-align-right p-right-10px">{{ product.quantity }}</div>
        <div class="controls">
          <button title="Editar" (click)="onEditProduct(product)"><i class="bi bi-pencil"></i></button>
          <button title="Eliminar" (click)="onDeleteProduct(product)"><i class="bi bi-trash"></i></button>
        </div>
      </div>
      <div *ngIf="productsFiltered.length === 0"><p>Producto no encontrado...</p></div>
    </div>
  </div>  
</div>

<div class="modal-container" [ngClass]="{'show': showModalProduct}">
  <div class="modal">
    <div class="title"><h3>PRODUCTO</h3></div>
    <div class="content">
      <form [formGroup]="formProduct">
        <div class="form-input">
          <label for="">Nombre</label>
          <input type="text" formControlName="name">
        </div>
        <div class="form-input">
          <label for="">Cantidad</label>
          <input type="number" formControlName="quantity">
        </div>
      </form>
    </div>
    <div class="footer">
      <button (click)="onSaveProduct()"><i class="bi bi-save"></i> Guardar</button>
      <button (click)="showModalProduct = false"><i class="bi bi-x-circle"></i> Cancelar</button>
    </div>
  </div>
</div>


<div class="modal-container" [ngClass]="{'show': showModalDelete}">
  <div class="modal-message">
    <h3>Advertencia</h3>
    <p>¿Eliminar el producto << {{ currentProduct?.name }} >>?</p>
    <div class="controls">
      <button (click)="onConfirmDeleteProduct()"><i class="bi bi-check-circle"></i> Si</button>
      <button (click)="showModalDelete = false"><i class="bi bi-x-circle"></i> No</button>
    </div>
  </div>
</div>